@page
@model Proiect_Dunca.Pages.Clothes.IndexModel

@{
    ViewData["Title"] = "Index";
}
<!-- This is the main page of the app where is created 
    the <th> for the label like PRICE  TITLE AUTHOR-->
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clothe[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clothe[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clothe[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clothe[0].PublishingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clothe[0].Designer.DesignerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clothe[0].Category.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clothe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designer.DesignerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingDate)
            </td>
        </tr>
}
    </tbody>
</table>
